*{
  box-sizing: border-box;
  margin: 1%;
}
@media (min-width: 992px){
  .col-lg-3{
    float: left;
    width: 31.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .col-md-1, .col-md-2{
    float: left;
  }
  .col-md-1{
    width: 99%;
  }
  .col-md-2{
    width: 48%;
  }

}
@media (max-width: 767px){
  .col-sm-1{
    float: left;
    width: 100%;
  }
}
/*header*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
h1{
  text-align: center;
  font-family: arial;
  font-size: 175%;
  margin-top: 25px;
  margin-bottom: 25px;
}