*{
  box-sizing: border-box;
  margin: 1%;
}
@media (min-width: 992px){
  .col-lg-3{
    float: left;
    width: 31.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .col-md-1, .col-md-2{
    float: left;
  }
  .col-md-1{
    width: 99%;
  }
  .col-md-2{
    width: 48%;
  }

}
@media (max-width: 767px){
  .col-sm-1{
    float: left;
    width: 100%;
  }
}
h1{
  text-align: center;
  font-family: arial;
  font-size: 175%;
  margin-top: 25px;
  margin-bottom: 25px;
}