@media (min-width: 992px){
}
@media (min-width: 768px) and (max-width: 991px){
}
@media (max-width: 767px){
  .navbar-brand {
    padding-top: 10px;
    height: 40px;
  }
  #collapsable-nav a {
    font-size: 1.2em;
  }
  #nav-list {
  margin-top: 10px;
  }
  #nav-list a {
    background: #FFD39B;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
}
/*header*/
#header-nav {
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding: 10px;
}
.navbar-brand h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  float: right;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#main-content{
  box-sizing: border-box;
  width: 100%;
}
#main-content section{
  width: 100%;
  height: 100%;
  background: #EE6A50;
  padding: 10px;
  margin: 10px;
}
