*{
  box-sizing: border-box;
  margin: 1%;
}
@media (min-width: 992px){
  .col-lg-3{
    float: left;
    width: 31.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .col-md-1, .col-md-2{
    float: left;
  }
  .col-md-1{
    width: 99%;
  }
  .col-md-2{
    width: 48%;
  }

}
@media (max-width: 767px){
  .col-sm-1{
    float: left;
    width: 100%;
  }
}
div{
  position: absolute;
}
#s1{
  position: relative;
  padding-top: 40px;
  background-color: #FFB266;
  border: 1px solid black;
  font-size: 100%;
  font-family: arial;
}
#s2{
  position: relative;
  padding-top: 40px;
  background-color: #FFB266;
  border: 1px solid black;
  font-size: 100%;
  font-family: arial;
}
#s3{
  position: relative;
  padding-top: 40px;
  background-color: #FFB266;
  border: 1px solid black;
  font-size: 100%;
  font-family: arial;
}
section.title {
    width: 150px;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    font-family: arial;

}
section#s1 section.title{
  background-color: #FF99CC;
  position: absolute;
  top: 0px;
    right: 0px;
    font-size: 125%;
}
section#s2 section.title{
  background-color: #00FF80;
  position: absolute;
  top: 0px;
    right: 0px;
    font-size: 125%;
}
section#s3 section.title{
  background-color: #FFCCE5;
  position: absolute;
  top: 0px;
    right: 0px;
    font-size: 125%;
}
h1{
  text-align: center;
  font-family: arial;
  font-size: 175%;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
